config.json
MultiplayerModChecker/LatestMultiplayerModReport-Host.json
MultiplayerModChecker/LatestMultiplayerModReports-Farmhand.txt
MultiplayerModChecker/LatestMultiplayerModReports-Host.txt
NPCMapLocations/config/
HappyBirthday/data
SaveBackup
ErrorHandler
ConsoleCommands
Paritee's Better Farm Animal Variety/cache
!MultiplayerHorseReskin/config.json
!Elle's Kitchen Replacement/config.json