config.json
MultiplayerModChecker/LatestMultiplayerModReport-Host.json
MultiplayerModChecker/LatestMultiplayerModReports-Farmhand.txt
MultiplayerModChecker/LatestMultiplayerModReports-Host.txt
NPCMapLocations/config/
HappyBirthday/data
Paritee's Better Farm Animal Variety/cache